@model IQueryable<Product>
@{
    ViewData["Title"] = "Hoodies";
}

<div class="container">
    <h1 id="Hoodies" class="text-light">BAD ART HOODIES</h1>
    <div class="card-columns">
        @foreach (Product p in Model)
        {
            <div class="card">
                <div class="card-body">
                    <img class="card-img" src="@p.ImagePath" alt="@p.Name">
                    <div class="card-text">
                        <h5 class="text-right">@p.Price.ToString("c")</h5>
                        <h3 style="font-family: Impact;">@p.Name</h3>
                        <p>@p.Description</p>
                        @if (@p.status == Status.Available)
                        {
                            <span class="btn-success p-1 float-left">Available</span>
                            <form id="@p.ProductId" asp-action="AddToCart"
                                  asp-controller="Cart" method="post">
                                <input type="hidden" asp-for="@p.ProductId" />
                                <input type="hidden" name="returnUrl"
                                       value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                <span class="card-text p-1">
                                    @*@Model.Description*@

                                    @*@if (User.Identity.IsAuthenticated)
                                        {*@
                                    <button type="submit"
                                            class="btn btn-success btn-sm pull-right float-right">
                                        Add To Cart
                                    </button>
                                    @*}*@
                                </span>
                            </form>
                        }
                        else
                        {
                            <span class="btn-danger p-1">Out of stock</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

