@*@model IQueryable<Product>*@

@{
    ViewData["Title"] = "Home";
}
<div class="container text-light">
    <div class="row">
        <div class="col">
            <h2 id="HomeDisplay">YONGZ CREATIVE Online Store</h2>
            <p>
                Everything odd and out of line, a brand for the creative.
                It's a unique comfort that comes with style and outlines your individuality.
                <br />
                <a id="CallToAction" href="#" class="btn btn-success mt-4">Shop with us today</a>
            </p>
        </div>
        <div class="col">
            <img src="~/images/hoodie.png" style="width:500px;" />
        </div>
    </div>
</div>

@*<div class="card-columns">
        @foreach (Product p in Model)
        {
            <div class="card">
                <div class="card-body">
                    <img class="card-img" src="@p.ImagePath" alt="@p.Name">
                    <div class="card-text">
                        <h5 class="text-right">@p.Price.ToString("c")</h5>
                        <h3>@p.Name</h3>
                        <p>@p.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>*@