@model CartIndexViewModel
<div id="area">
    <div class="container">
        @if (@Model.Cart.Lines.Sum(l => l.Quantity) != 0)
        {
            <h3 class="display-4 text-white">Shopping Cart</h3>
            <div class="row">
                @*Items*@
                <div class="col-sm-12 col-md-8 bg-white">
                    <div class="row mt-3">
                        @*Item*@
                        @foreach (var line in Model.Cart.Lines)
                        {
                            <div class="col-lg-4">
                                <div class="card-header">
                                    <h3>@line.Product.Name</h3>
                                </div>
                                <div class="card-body">
                                    <img class="card-img" src="@line.Product.ImagePath" style="width:100px;" />
                                    <p><span class="card-title font-weight-bold">Price:</span> R @line.Product.Price.ToString()</p>
                                    <p><span class="card-text font-weight-bold">Quantity:</span> @line.Quantity</p>
                                    <p><span class="card-text font-weight-bold">Sub total:</span> R @((line.Quantity * line.Product.Price).ToString())</p>
                                </div>
                                @*Remove item*@
                                <form asp-action="RemoveFromCart" method="post">
                                    <input type="hidden" name="ProductId"
                                           value="@line.Product.ProductId" />
                                    <input type="hidden" name="returnUrl"
                                           value="@Model.ReturnUrl" />
                                    <button type="submit" class="btn btn-sm btn-danger ml-3 mb-3">
                                        Remove
                                    </button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
                @*Cart Summary*@
                <div class="col-sm-12 col-md-4 bg-dark text-white">
                    <h2>Cart Summury</h2>
                    <p>
                        Item(s): @Model.Cart.Lines.Sum(l => l.Quantity)
                        <br />
                        Total: R @Model.Cart.ComputeTotalValue().ToString()
                    </p>
                    <p>
                        <a class="btn btn-warning text-white" asp-action="Checkout"
                           asp-controller="Order">PROCEED TO CHECKOUT</a>
                    </p>
                </div>
            </div>
        }
        else
        {
            <p class="text-center pt-5" style="font-size: 20px;">There is nothing to show here, your cart is empty!</p>
        }
    </div>@*Conitune shopping*@
    <div class="text-center p-5">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    </div>
</div>
